{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>{% block title %}{% endblock %} Video Now!</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {%include 'extra_head_info.html' %}

    <style>
        {% block style %}
        {% endblock %}
    </style>
  </head>

  <body>

  {% include 'navbar.html' %}


    <div class="container">
        {% block content %}
        {% endblock %}

      <!--&lt;!&ndash; Main component for a primary marketing message or call to action &ndash;&gt;-->
      <!--<div class="jumbotron">-->
        <!--<h1>Navbar example</h1>-->
        <!--<p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>-->
        <!--<p>To see the difference between static and fixed top navbars, just scroll.</p>-->
        <!--<p>-->
          <!--<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>-->
        <!--</p>-->
      <!--</div>-->

    </div> <!-- /container -->

    {% include 'javascript_sources.html' %}

  </body>
</html>
